<div class="container mat-elevation-z4">
  <mat-card>
    <mat-card-title>Books</mat-card-title>
    <mat-card-content>
      <mat-nav-list *ngIf="(books$ | async) as books">
        <table>
          <tr>
            <th class="title">Title</th>
            <th class="author">Author</th>
            <th class="status">Status</th>
          </tr>
          <tr *ngFor="let book of books.content" [routerLink]="['/books', book.id]">
            <td class="title">{{book.title}}</td>
            <td class="author">{{book.author}}</td>
            <td class="status">{{book.status}}</td>
          </tr>
        </table>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>
