<div *ngIf="(book$ | async) as book">
  <h1> {{book.title}}</h1>
  <table>
    <tr>
      <td>Author:</td>
      <td>{{book.author}}</td>
    </tr>
    <tr>
      <td>Genre:</td>
      <td>{{book.genre}}</td>
    </tr>
    <tr>
      <td>Year:</td>
      <td>{{book.year}}</td>
    </tr>
    <tr>
      <td>Added:</td>
      <td>{{book.added}}</td>
    </tr>
    <tr>
      <td>Checkout count:</td>
      <td>{{book.checkOutCount}}</td>
    </tr>
    <tr>
      <td>Status:</td>
      <td>{{book.status}}</td>
    </tr>
    <tr>
      <td>Due date:</td>
      <td>{{book.dueDate}}</td>
    </tr>
    <tr>
      <td>Comment:</td>
      <td>{{book.comment}}</td>
    </tr>
    <tr>
      <button (click) = "checkoutBook(book)" class = "btn btn-danger" style="margin-left: 10px"> Checkout</button>
      <button (click) = "deleteBook(book)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
    </tr>
  </table>
</div>
